<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Open Graph data -->
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.sovacapital.com/" />
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.website_url %><%= require("./assets/images/fb_share.png") %>">
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.website_url %><%= require("./assets/images/twitter_share.png") %>">

  <!-- VK data -->
  <meta property="vk:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta property="vk:description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta property="vk:url" content="http://www.sovacapital.com/">
  <meta property="vk:image" content="<%= htmlWebpackPlugin.options.website_url %><%= require("./assets/images/vk_share.png") %>">

  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <link rel="shortcut icon" type="image/png" href="<%= require("./assets/images/favicon.png") %>" />

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="bg-building d-md-flex flex-md-column">
  <header class="header flex justify-content-start">
    <a href="/"><img class="logo ml-2 ml-md-4" alt="sova logo" src=<%= require("./assets/images/logo.svg") %>></a>
  </header>
  <main class="content row px-md-5 mx-md-1">
    <div class="col-12 col-md-8 px-5 px-md-1 mt-md-5 pt-lg-5">
      <h1 class="title text-gray mb-md-5 pb-md-3"><img src=<%= require("./assets/images/SOVA_Capital_Tagline.svg")%>></h1>

      <!-- START: Accordion section -->
      <ul class="info-sections list-group f-light d-md-none">
        <li>
          <button class="collapse-button btn btn-link w-100 pl-0 py-3 collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#whoWeAre"
                  aria-expanded="false"
                  aria-controls="whoWeAre">
            <div class="d-flex justify-content-between">
              <div class="d-inline-block align-self-center btn-text">Who We Are</div>
              <div class="d-inline-block bubble">
                <span class="arrow down"></span>
                <span class="arrow up"></span>
              </div>
            </div>
            <div class="separator"></div>
          </button>
          <div class="collapse small text-gray-dark" id="whoWeAre">
            <p>SOVA Capital Limited (formerly known as
              <a href="http://www.otkritie-capital.com/" target="_blank">Otkritie Capital International Limited</a>) is
              a UK based, FCA authorised and regulated broker-dealer subsidiary of the
              <a href="http://mcb-capital.ru/" target="_blank">ROSSIUM Group</a>, one of the largest
              private financial groups in Central & Eastern Europe.</p>
            <p>Headquartered in London and specialising in emerging markets, SOVA Capital offers institutional and
              corporate clients a full range of investment services:</p>
            <ul class="list pl-3 mb-3">
              <li>
                <span class="text-gray-dark">
                  Capital Markets: equities, credit, rates, FX, commodities and OTC derivatives trading
                </span>
              </li>
              <li>
                <span class="text-gray-dark">Prime Services</span>
              </li>
              <li>
                <span class="text-gray-dark">
                   Global Electronic Execution Services (including algo-trading and HFT servicing capabilities)
                </span>
              </li>
              <li>
                <span class="text-gray-dark">REPO, SLB and Financing</span>
              </li>
              <li>
                <span class="text-gray-dark">ECM and DCM: Origination and M&A</span>
              </li>
              <li>
                <span class="text-gray-dark">Research</span>
              </li>
            </ul>
            <p>SOVA Capital operates as an independent sustainable business, with a solid capital base and
              infrastructure, extensive relationship network across global markets and highly professional staff.</p>
          </div>
        </li>

        <li>
          <button class="collapse-button btn btn-link w-100 pl-0 py-3 collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#keyFacts"
                  aria-expanded="false"
                  aria-controls="keyFacts">
            <div class="d-flex justify-content-between">
              <div class="d-inline-block align-self-center btn-text">Key Facts</div>
              <div class="d-inline-block bubble">
                <span class="arrow down"></span>
                <span class="arrow up"></span>
              </div>
            </div>
            <div class="separator"></div>
          </button>
          <div class="collapse small text-gray-dark" id="keyFacts">
            <ul class="list pl-3">
              <li>
                <span class="text-gray-dark">FCA authorised since 2004</span>
              </li>
              <li>
                <span class="text-gray-dark">
                  CASS protection of client money and safe custody of assets under FCA rules and the Client Money
                  Sourcebook (“CASS”)
                </span>
              </li>
              <li>
                <span class="text-gray-dark">Equity share capital of circa USD 350mn as at year end 2017</span>
              </li>
              <li>
                <span class="text-gray-dark">200+ global and regional institutional clients</span>
              </li>
              <li>
                <span class="text-gray-dark">More than 180 employees globally</span>
              </li>
              <li>
                <span class="text-gray-dark">Operating in over 40 markets with direct membership on LSE</span>
              </li>
              <li>
                <span class="text-gray-dark">Individual clearing membership on MOEX fx market</span>
              </li>
              <li>
                <span class="text-gray-dark">
                  Ranked Top 3 on the Moscow Exchange Equities, Derivatives and FX Markets by volume
                </span>
              </li>
              <li>
                <span class="text-gray-dark">No. 3 ranking in Extel Russia Leading Brokerage Firm 2017 Survey</span>
              </li>
              <li>
                <span class="text-gray-dark">
                  No. 1 ranking in Extel 2017 Research Survey for Metals & Mining, Fixed Income, Small Caps and
                  Consumer & Retail Sectors
                </span>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <button class="collapse-button btn btn-link w-100 pl-0 py-3 collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#whySova"
                  aria-expanded="false"
                  aria-controls="whySova">
            <div class="d-flex justify-content-between">
              <div class="d-inline-block align-self-center btn-text">Why SOVA?</div>
              <div class="d-inline-block bubble">
                <span class="arrow down"></span>
                <span class="arrow up"></span>
              </div>
            </div>
            <div class="separator"></div>
          </button>
          <div class="collapse small text-gray-dark" id="whySova">
            <p>
              Our emphasis is on the provision of a complete range of brokerage and investment services, enabling a
              360 markets vision, ability to maintain focus, a strong and stable business model.
            </p>
            <ul class="list pl-3">
              <li>
                <span class="text-gray-dark">
                  <img class="image-symbol" alt="sense" src=<%= require("./assets/images/S.svg") %>>ense — we are
                  committed to what we do and act in a transparent and fair way in the market
                </span>
              </li>
              <li>
                <span class="text-gray-dark">
                  <img class="image-symbol" alt="opportunity" src=<%= require("./assets/images/O.svg") %>>pportunity —
                  our aim is to generate opportunities for business growth for our clients, markets and partners
                </span>
              </li>
              <li>
                <span class="text-gray-dark">
                  <img class="image-symbol" alt="vision" src=<%= require("./assets/images/V.svg") %>>ision — we operate
                  with a clear and focused vision, conscious long-term strategy and invest in development
                </span>
              </li>
              <li>
                <span class="text-gray-dark">
                  <img class="image-symbol" alt="action" src=<%= require("./assets/images/A.svg") %>>ction — we strongly
                  believe that execution is key therefore we pay exceptional attention to our delivery and performance
                  quality
                </span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <!-- END: Accordion section -->

      <!-- START: Tabs section -->
      <div class="d-none d-md-block">
        <ul class="nav nav-tabs border-bottom-0 small f-semi-bold" role="tablist">
          <li role="presentation" class="active pr-3">
            <a href="#whoWeAreTab"
               class="nav-item nav-link p-0 px-2 active"
               aria-controls="home"
               role="tab"
               data-toggle="tab">Who We Are</a>
          </li>
          <li role="presentation" class="px-3">
            <a href="#keyFactsTab"
               class="nav-item nav-link p-0 px-2"
               aria-controls="profile"
               role="tab"
               data-toggle="tab">Key Facts</a>
          </li>
          <li role="presentation" class="pl-3">
            <a href="#whySovaTab"
               class="nav-item nav-link p-0 px-2"
               aria-controls="messages"
               role="tab"
               data-toggle="tab">Why SOVA?</a>
          </li>
          <li role="presentation" class="pl-3 " data-no-change="true">
            <a href="/terms.html" target="_blank" class="nav-item nav-link p-0 px-2">Terms Of Business</a>
          </li>
          <div class="underbar"></div>
        </ul>

        <div class="tab-content text-gray-dark f-light medium mt-4 w-75">
          <div role="tabpanel" class="tab-pane active" id="whoWeAreTab">
            <p>SOVA Capital Limited (formerly known as
              <a href="http://www.otkritie-capital.com/" target="_blank">Otkritie Capital International Limited</a>) is
              a UK based, FCA authorised and regulated broker-dealer subsidiary of the
              <a href="http://mcb-capital.ru/" target="_blank">ROSSIUM Group</a>, one of the largest
              private financial groups in Central & Eastern Europe.</p>
            <p>Headquartered in London and specialising in emerging markets, SOVA Capital offers institutional and
              corporate clients a full range of investment services:</p>
            <ul class="list pl-3">
              <li>
                <span class="text-gray-dark">
                  Capital Markets: equities, credit, rates, FX, commodities and OTC derivatives trading
                </span>
              </li>
              <li>
                <span class="text-gray-dark">Prime Services</span>
              </li>
              <li>
                <span class="text-gray-dark">
                   Global Electronic Execution Services (including algo-trading and HFT servicing capabilities)
                </span>
              </li>
              <li>
                <span class="text-gray-dark">REPO, SLB and Financing</span>
              </li>
              <li>
                <span class="text-gray-dark">ECM and DCM: Origination and M&A</span>
              </li>
              <li>
                <span class="text-gray-dark">Research</span>
              </li>
            </ul>
            <p>SOVA Capital operates as an independent sustainable business, with a solid capital base and
              infrastructure, extensive relationship network across global markets and highly professional staff.</p>
          </div>
          <div role="tabpanel" class="tab-pane" id="keyFactsTab">
            <ul class="list pl-3">
              <li>
                <span class="text-gray-dark">FCA authorised since 2004</span>
              </li>
              <li>
                <span class="text-gray-dark">
                  CASS protection of client money and safe custody of assets under FCA rules and the Client Money
                  Sourcebook (“CASS”)
                </span>
              </li>
              <li>
                <span class="text-gray-dark">Equity share capital of circa USD 350mn as at year end 2017</span>
              </li>
              <li>
                <span class="text-gray-dark">200+ global and regional institutional clients</span>
              </li>
              <li>
                <span class="text-gray-dark">More than 180 employees globally</span>
              </li>
              <li>
                <span class="text-gray-dark">Operating in over 40 markets with direct membership on LSE</span>
              </li>
              <li>
                <span class="text-gray-dark">Individual clearing membership on MOEX fx market</span>
              </li>
              <li>
                <span class="text-gray-dark">
                  Ranked Top 3 on the Moscow Exchange Equities, Derivatives and FX Markets by volume
                </span>
              </li>
              <li>
                <span class="text-gray-dark">No. 3 ranking in Extel Russia Leading Brokerage Firm 2017 Survey</span>
              </li>
              <li>
                <span class="text-gray-dark">
                  No. 1 ranking in Extel 2017 Research Survey for Metals & Mining, Fixed Income, Small Caps and
                  Consumer & Retail Sectors
                </span>
              </li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="whySovaTab">
            <p>
              Our emphasis is on the provision of a complete range of brokerage and investment services, enabling a
              360 markets vision, ability to maintain focus, a strong and stable business model.
            </p>
            <ul class="list pl-3">
              <li>
                <span class="text-gray-dark">
                  <img class="image-symbol" alt="sense" src=<%= require("./assets/images/S.svg") %>>ense — we are
                  committed to what we do and act in a transparent and fair way in the market
                </span>
              </li>
              <li>
                <span class="text-gray-dark">
                  <img class="image-symbol" alt="opportunity" src=<%= require("./assets/images/O.svg") %>>pportunity —
                  our aim is to generate opportunities for business growth for our clients, markets and partners
                </span>
              </li>
              <li>
                <span class="text-gray-dark">
                  <img class="image-symbol" alt="vision" src=<%= require("./assets/images/V.svg") %>>ision — we operate
                  with a clear and focused vision, conscious long-term strategy and invest in development
                </span>
              </li>
              <li>
                <span class="text-gray-dark">
                  <img class="image-symbol" alt="action" src=<%= require("./assets/images/A.svg") %>>ction — we strongly
                  believe that execution is key therefore we pay exceptional attention to our delivery and performance
                  quality
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END: Tabs section -->
    </div>

    <a class="d-block d-md-none btn btn-link p-0 text-green-light text-left f-light px-5 my-3"
       href="/terms.html" target="_blank">Terms of Business</a>

    <!-- START: Image block -->
    <img class="image w-100 h-100 d-md-none" alt="building" src=<%= require("./assets/images/image_land.png") %>>
    <!-- END: Image block -->

    <!-- START: Contact section -->
    <div class="col-12 col-md-4 text-gray-darker px-5 pr-md-1 pl-md-0">
      <div class="row">
        <div class="col-12 col-lg-9 offset-lg-3 h5 my-3 mt-md-0 xsmall f-bold px-md-0">Contact us</div>
        <div class="col-12 col-lg-9 offset-lg-3 d-flex justify-content-between justify-content-md-start xsmall f-light pl-md-0 pr-xl-0">
          <div class="pr-md-4">
            London Headquarters<br>
            12th Floor, 88 Wood Street,<br>
            London, EC2V 7RS, UK<br>
            Phone: <a class="text-gray-darker" href="tel:+4402078268200">+44 (0) 20 7826 8200</a>
          </div>
          <div>
            Moscow Branch<br>
            BC Oasis, Moscow, 119049<br>
            7th floor, 5 Koroviy Val<br>
            Phone: <a class="text-gray-darker" href="tel:++74952232323">+7 (495) 223 23 23</a>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Contact section -->
  </main>

  <footer class="footer row px-4 px-md-5 mx-md-1 pt-5 pt-md-0">
    <div class="col-12 col-md-5 px-4 px-md-1 pb-2 pb-md-4">
      <a class="contact-email f-semi-bold small hovered" href="mailto:info@sovacapital.com">Email: info@sovacapital.com</a>
      <div class="disclaimer pt-2 pt-md-3">
        Unless specifically stated, this notice is for information purposes only and may not be
        considered as advice, is not an offer, recommendation or solicitation with respect to any transaction or an
        advertisement, nor is it an official confirmation of terms and does not form a fiduciary relationship.
        Additional information is available upon request.
      </div>
    </div>
  </footer>
</div>
</body>
</html>
