<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Open Graph data -->
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.sovacapital.com/" />
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.website_url %><%= require("../assets/images/fb_share.png") %>">
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.website_url %><%= require("../assets/images/twitter_share.png") %>">

  <!-- VK data -->
  <meta property="vk:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta property="vk:description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta property="vk:url" content="http://www.sovacapital.com/">
  <meta property="vk:image" content="<%= htmlWebpackPlugin.options.website_url %><%= require("../assets/images/vk_share.png") %>">

  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <link rel="shortcut icon" type="image/png" href="<%= require("../assets/images/favicon.png") %>" />

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="bg-ben">
<div class="d-md-flex flex-md-column">
  <header class="header flex justify-content-start">
    <a href="/"><img class="logo ml-2 ml-md-4" alt="sova logo" src=<%= require("../assets/images/logo.svg") %>></a>
  </header>

  <main class="content row px-md-5 mx-md-1">
    <div class="col-12 col-md-8 px-5 px-md-1 mt-md-5 pt-lg-5">
      <h1 class="title f-ult-light text-gray mb-4 mb-md-5 pb-md-3">terms of business</h1>

      <!-- START: Notification headline -->
      <h2 class="h3 headline f-semi-bold text-green my-3">Notification</h2>
      <!-- END: Notification headline -->

      <!-- START: Notifications -->
      <section>
        <div class="xsmall text-gray">25.05.2018</div>
        <div class="small f-semi-bold text-gray-dark mt-2 mb-3">
          Notification regarding changes to Sova Capital Limited
          Terms of Business and a new Privacy Information Notice
          as required pursuant the EU General Data Protection Regulation (&quot;GDPR&quot;)
        </div>
        <div class="small text-gray-dark f-light">
          <p>
            <span class="d-block f-semi-bold mb-1">Dear Client,</span>
            <span class="d-block f-semi-bold mb-1">Updated Terms of Business</span>
            As you will be aware, on 25 May this year, the GDPR, a new EU regulation, which significantly amends and
            extends the legal obligations on businesses that process personal data and the rights of individuals, will
            come into force in the UK and across the EU. A new Data Protection Bill will also take effect in the UK from
            the same date, which will make provisions for variations from the GDPR that are permitted under its terms,
            and will also implement the GDPR as modified into English law, so that it will continue to apply after the UK
            has left the EU.
          </p>
          <p>
            We have ensured that we have prepared thoroughly for this in all elements of our business. This includes
            amending our Terms of Business (at clause 30 (Data Protection))to reflect the requirements of the GDPR.
            As this requires a number of amendments to the document, we have also taken the opportunity to ensure
            that the Terms of Business reflect the current guidance of the UK Information Commissioner&#39;s Office and to
            update the Terms of Business in various places in order to enable us to perform our new obligations under
            GDPR.
          </p>
          <p>
            A copy of our updated Terms of Business (versions A, B and C) together with our new Privacy Information
            Notice are available on our website at <a href="www.sovacapital.com/terms.html">www.sovacapital.com/terms.html</a>.
          </p>
          <p>
            We would stress that nothing in these updated Terms of Business changes the services that we are
            providing to you, and the way that we will provide those services remains unchanged.
          </p>
          <p>
            If there is any aspect of these changes that you would like to discuss, please contact your Sales
            Representative or CRM or write to <a href="mailto:TOB@sovacapital.com">TOB@sovacapital.com</a>
            or call to <a href="tel:+442078268287">+44 207 826 82 87</a> (London direct
            number) or <a href="tel:+74957354065">+7 495 735 40 65</a> (Moscow direct number), whichever is more
            convenient to you.
          </p>
        </div>
      </section>
      <!-- END: Notifications -->

      <!-- START: TOBs and FRs -->
      <section>
        <div class="section-title medium f-semi-bold text-green mb-3">Terms of Business</div>
        <ul class="small list pl-3">
          <li>
            <a class="text-gray-dark"
              href="documents/SCL ToB A 5.0 (May 2018).pdf"
              target="_blank">
              Terms of Business A (5.0)
            </a>
          </li>
          <li>
            <a class="text-gray-dark"
               href="documents/SCL ToB B 5.0 (May 2018).pdf"
               target="_blank">
              Terms of Business B (5.0)
            </a>
          </li>
          <li>
            <a class="text-gray-dark"
               href="documents/SCL ToB C 3.0 (May 2018).pdf"
               target="_blank">
              Terms of Business C (3.0)
            </a>
          </li>
        </ul>
      </section>

      <section>
        <div class="section-title medium f-semi-bold text-green mb-3">Privacy Information Notice</div>
        <ul class="small list pl-3">
          <li>
            <a class="text-gray-dark"
               href="documents/SCL Privacy Information Notice.pdf"
               target="_blank">
              SCL Privacy Information Notice
            </a>
          </li>
        </ul>
      </section>
      <!-- END: TOBs and FRs -->
    </div>
  </main>

  <footer class="footer row px-4 px-md-5 mx-md-1">
    <div class="col-12 col-md-5 px-4 px-md-1 pb-2 pb-md-4 pt-5 pt-md-0">
      <a class="d-block text-gray small" href="http://www.otkritie-capital.com/en/tob/archive/" target="_blank">Archive</a>
      <a class="contact-email f-semi-bold small hovered" href="mailto:info@sovacapital.com">Email: info@sovacapital.com</a>
      <div class="disclaimer pt-2 pt-md-3">
        Unless specifically stated, this notice is for information purposes only and may not be
        considered as advice, is not an offer, recommendation or solicitation with respect to any transaction or an
        advertisement, nor is it an official confirmation of terms and does not form a fiduciary relationship.
        Additional information is available upon request.
      </div>
    </div>
  </footer>

  <img class="image w-100 h-100 d-md-none" alt="ben" src=<%= require("../assets/images/ben.png") %>>
</div>
</body>
</html>
